.settings_container {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #000 !important;
  overflow-y: auto;
}

.settings_email_container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}

.settings_email_container .settings_input {
  margin: auto 10px;
}

.settings_email {
  font-size: 24px;
  margin: auto;
  margin-right: 10px;
}

.settings_email_btn {
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: #4A9EAACC;
}

.settings_password_container {
  position: relative;
}

.settings_input_container {
  position: relative;
}

.settings_password_container .settings_input {
  margin-bottom: 10px;
}

.settings_input {
  width: 100%;
  height: 5vh;
  background-color: #e4eaea99;
  color: #383838;
  outline: none;
  border: none;
  font-size: 16px;
  padding-left: 12px;
  padding-right: 10px;
}

.settings_label {
  position: absolute;
  top: 0px;
  left: 10px;
  z-index: 966;
  font-size: 14px;
}

