.heart_switch {
  --duration: 0.45s;
  --stroke: #d1d6ee;
  --stroke-active: #f51d1d;
  --fill: #fff;
  --fill-active: #f51d1d;
  --shadow: rgba(0, 9, 61, 0.25);
  cursor: pointer;
  position: relative;
  transform: scale(var(--s, 1)) translateZ(0);
  transition: transform 0.2s;
  -webkit-tap-highlight-color: transparent;
}
.heart_switch:active {
  --s: 0.95;
}
.heart_switch input {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
  outline: none;
  border: none;
  pointer-events: none;
  z-index: 1;
  margin: 0;
  padding: 0;
  left: 1px;
  top: 1px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 1px 3px 0 var(--shadow);
}
.heart_switch input + svg {
  width: 36px;
  height: 25px;
  fill: var(--fill);
  stroke: var(--stroke);
  stroke-width: 1px;
  stroke-linejoin: round;
  display: block;
  transition: stroke var(--duration), fill var(--duration);
}
.heart_switch input:not(:checked) {
  animation: uncheck var(--duration) linear forwards;
}
.heart_switch input:checked {
  animation: check var(--duration) linear forwards;
}
.heart_switch input:checked + svg {
  --fill: var(--fill-active);
  --stroke: var(--stroke-active);
}
@keyframes uncheck {
  0% {
    transform: rotate(-30deg) translateX(13.5px) translateY(8px);
  }
  50% {
    transform: rotate(30deg) translateX(9px);
  }
  75% {
    transform: rotate(30deg) translateX(4.5px) scaleX(1.1);
  }
  100% {
    transform: rotate(30deg);
  }
}
@keyframes check {
  0% {
    transform: rotate(30deg);
  }
  25% {
    transform: rotate(30deg) translateX(4.5px) scaleX(1.1);
  }
  50% {
    transform: rotate(30deg) translateX(9px);
  }
  100% {
    transform: rotate(-30deg) translateX(13.5px) translateY(8px);
  }
}