.dashboard_container {
    width: 100%;
    margin-top: 90px;
    display: flex;
}

.dashboard_container_close {
    margin-top: 90px;
    display: flex;
    width: 20%;
}

.dashboard_panel {
    position: fixed;
    width: 20%;
    height: 95vh;
    overflow-y: auto;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E4EAEA;
    box-shadow: 0 2px 20px #0000004d;
}

.dashboard_panel_close {
    position: fixed;
    width: 5%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E4EAEA;
}

.links_item {
    width: 100%;
    text-align: start;
    text-decoration: none;
    border: none;
    padding: 20px 0;
    padding-left: 30px;
    font-size: 20px;
    color: #000;
    z-index: 999;
}

.links_item:hover {
    background-color: #4a9eab;
    color: #000;
}

.dashboard_panel_title {
    width: 100%;
    text-align: center;
    margin-top: 15px;
}

.dashboard_line {
    width: 20%;
    border: none;
    height: 5px;
    opacity: 100%;
    margin: 20px auto;
    background-color: #4a9eaa;
}

.dashboard_show {
    width: 75%;
    margin-left: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 1000px) {
    .dashboard_panel_close {
        height: 10%;
        width: 100%;
        flex-direction: row;
    }
    .dashboard_panel {
        height: 10%;
        width: 100%;
        flex-direction: row;
        padding-top: 0;
    }
    .links_item {
        height: 100%;
        border: none;
        font-size: 16px;
        z-index: 999;
        padding: 10px 5px;
    }
    .dashboard_panel_title {
        display: none;
    }
} 