.home_container {
  width: 100%;
}

.promotions_container,
.feature_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  padding-bottom: 0px;
}

.feature_container .h2 {
  font-size: 50px;
}

.promotions_container {
  background-color: #fff;
}

.promotions_container .h2 {
  font-size: 50px;
}

/* SPINNER */
.contenedorSpinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 100vh;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.9);
  border-left-color: transparent;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  animation: spin 1s linear infinite;
}

.homeH2{
  margin-top: -60px;
  padding-top: 90px;
  z-index: 3;
  background-color: #ffff;
  width: 100%;
  text-align: center;
  margin-bottom: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* SPINNER FIN*/

@media (max-width: 700px) {
  .feature_container .h2 {
    font-size: 30px;
  }

  .promotions_container .h2 {
    font-size: 30px;
  }
}