.fullContainer{
  flex-wrap: wrap;
  margin-top: 10vw;
  padding: 2%;
}

.favTitle{
  text-align: center;
  margin-bottom: 3vw;
}

.sort{
  margin: 5vw;
  margin-top: 3vw;
}

.eachCard > * {
  text-decoration: none;
}

.eachCard{
  width: 40%;
  margin: auto;
  margin-top: 4vw;
}

.cardContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 5vw;
}

.noHay{
  margin: auto;
  margin-top: 5vw;
}

@media (max-width: 1000px) {
  .fullContainer{
    margin-top: 12vw;
  }
}

@media (max-width: 850px) {
  .cardContainer{
    display: flex;
    flex-direction: column;
  }

  .eachCard{
    width: 100%;
  }

  .fullContainer{
    margin-top: 20vw;
  }

}

@media (max-width: 500px) {

  .fullContainer{
    margin-top: 28vw;
  }

}
