.fullContainer{
  flex-wrap: wrap;
  margin-top: 10vw;
}

.sort{
  margin-left: 6vw;
}

.eachCard > * {
  text-decoration: none;
}

.eachCard{
  width: 50%;
}

.cardContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 5vw;
}