
.open_profile {  
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: visible;
    cursor: initial;
    z-index: 992;
}

.profile_back {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 991;
    visibility: visible;
    background-color: #00000099;
}

.profile_container {
    width: 90%;
    height: 90vh;
    box-shadow: 0 12px 16px 0 #0000003d;
    background-color: #fff;
    display: flex;
    z-index: 993;
    overflow-y: auto;
}

.profile_menu {
    width: 30%;
    height: 100%;
    background-color: #E4EAEA;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.profile_btn {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 22px;
}

.profile_menu_title {
  margin: 20px 0;
  color: #000;
}

.profile_menu_btn {
    width: 100%;
    border: none;
    margin-top: 10px;
    background-color: transparent;
    padding: 15px 0;
    cursor: pointer;
    color: #000;
}

.profile_menu_btn:hover {
    background-color: #4a9eaa;
}

.profile_menu_item {
    width: 60%;
    margin: 20px auto;
    /* padding: 40px; */
}

.profile_menu_item h4 {
  color: #000;
}

.close_profile {
    display: none;
    visibility: hidden;
}

.create_line {
    width: 90%;
    border: none;
    height: 5px;
    opacity: 100%;
    margin: auto;
    background-color: #4a9eaa;
}

.user_btn {
    background-color: transparent;
    border: none;
    font-size: 22px;
}

@media (max-width: 1000px) {
    .profile_container {
      display: initial;
    }
    .profile_menu {
        width: 100%;
        height: 20%;
        text-align: center;
        flex-direction: row;
    }
    .profile_menu_item {
        width: 90%;
    }
    .profile_menu_title {
        width: 30%;
        margin: 0;
    }
    .profile_main_btn {
        width: 100%;
        height: 25%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .profile_btn {
        width: 100%;
        height: 15%;
        flex-direction: row;
        justify-content: space-between;
    }
    .profile_menu button {
        width: 100%;
        font-size: 18px;
        margin-top: 3px;
    }
    .create_line {
        display: none;
    }
}
  
@media (max-width: 780px) {
    .profile_menu_title {
        margin-left: 10px;
        width: 20%;
    }
    .profile_btn {
        font-size: 14px;
    }
}
