.paginado {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  list-style: none;
}

.container {
  /* background-color: #e4eaea; */
  backdrop-filter: blur(10px);
  height: 3.5vw;
  padding: 0;
  margin-top: 8vw;
}

.number {
  list-style: none;
  text-align: center;
  padding: 3px;
  margin: 0.8vw 1.2vw;
  color: #000;
  cursor: pointer;
  background-color: #e4eaea;
  border-radius: 100px;
  width: 2vw;
  height: 100%;
  border: none;
  cursor: pointer;
}

.selectedNum {
  text-align: center;
  padding: 3px;
  margin: 0.8vw;
  color: ivory;
  cursor: pointer;
  background-color: #4a9eab;
  border-radius: 100px;
  border: none;
  width: 2vw;
  height: 100%;
}

.number:hover {
  background-color: #b4b6b6;
  list-style: none;
  /* transition: background-color 0.3s; */
}

/*.number a:hover:not(.active) {background-color: #826b676e;}
*/
/* .paginado_btn, */
/* .number a { */
  /* border-radius: 100%; */
/* } */

/*.number a.active {
  border-radius: 100%;
  background-color: #826b676e;
/*}
/*como hago para que quede current page seleccionada??*/

@media (max-width: 1200px) {
  .selectedNum,
  .number {
    width: 3vw;
  }
  .container {
    height: 5vw;
  }
}

@media (max-width: 760px) {
  .selectedNum,
  .number {
    width: 5vw;
  }
  .paginado {
    justify-content: flex-start;
  }
  .container {
    height: 5vw;
  }
}