.paginado {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
  justify-content: space-evenly;
  margin-right: 2vw;
  margin-left: 1vw;
}

.container {
  background-color: #e4eaea;
  backdrop-filter: blur(10px);
  height: 6vh;
  padding: 0;
}

.number {
  text-align: center;
  margin: 0.8vw;
  transition: all 0.5s;
}

.selectedNum {
  text-align: center;
  margin: 0.8vw;
  color: ivory;
  cursor: pointer;
  transition: 0.5s;
  background-color: #4a9eab;
  border-radius: 100px;
  width: 2vw;
  height: 100%;
}

.number:hover {
  color: #4a9eab;
  cursor: pointer;
}

.number a {
  transition: background-color 0.3s;
  border-radius: 100%;
  padding: 0.5vw;
}

/*.number a:hover:not(.active) {background-color: #826b676e;}
*/
.number a {
  border-radius: 100%;
}

/*.number a.active {
  border-radius: 100%;
  background-color: #826b676e;
/*}
/*como hago para que quede current page seleccionada??*/
