.cardHistorial {
  position: relative;
  margin: auto;
  margin-top: 4vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: black;
  width: 100%;
  border: none;
  background-color: #fafafa;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.cardBodyHistorial {
  margin: auto;
  margin-left: 3vw;
  width: 50%;
  z-index: 1;
  word-wrap: break-word;
  color: black;
}

.cardHistorial img {
  margin-left: 0;
  width: calc(20rem + 0.3vw);
}

.cardBodyHistorial h3 {
  font-size: 1.4rem; /* calc(8rem + .3vw); */
  color: black;
}

.cardBodyHistorial h5 {
  font-size: 1.2rem; /* calc(5rem + .3vw); */
}

@media (max-width: 704px) {
  .cardBodyHistorial h3 {
    font-size: calc(1.3rem + 0.3vw);
    color: black;
  }

  .cardHistorial img {
    margin-left: 0;
    width: calc(17rem + 0.3vw);
  }

  .cardHistorial {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .cardBodyHistorial h3 {
    margin-top: 5px;
    font-size: 0.8rem;/* calc(1.3rem + 0.3vw); */
    color: black;
    margin-bottom: 0px;
  }

  .cardHistorial img {
    margin-left: 0;
    width: calc(15rem + 0.3vw);
    height: calc(13.5rem + 0.3vw);
  }
}
