.checkoutContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}

.logInCreateAcc{
  width: 100%;
  padding: 3vw;
  padding-bottom: 8vw;
}

.right{
  width: 100%;
  padding: 3vw;
  padding-bottom: 8vw;
}

.headerCheckout{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 7vw;
  margin-left: 2.5vw;
  font-size: 2vw;
}

.headerCheckout button{
  border: none;
  background-color: transparent;
}

.headerCheckout button:hover{
  color: #4a9eab;
}

.left{
  width: 100%;
  background-color: #e4eaea;
  padding: 3vw;
  padding-bottom: 8vw;
}

.resumenCarrito{
  margin-top: 7vw;
  margin-left: 2.5vw;
  font-size: 3vw;
}

.cardCheckoutContainer > * {
	text-decoration: none;
  color: black;
}

.cardCheckoutContainer:hover > *{
  color: gray;
}
