.cardG_container {
  min-width: 250px;
  width: 23vw;
  height: 37vw;
  overflow: hidden;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  word-wrap: break-word;
  background-color: #fff;
  margin-bottom: 2vw;
}

.cardG_container h2 {
  width: 95%;
  font-size: 2vw;
  margin: auto;
}

.cardG_img_container {
  display: flex;
  justify-content: center;
  object-fit: cover;
}

.cardG_img_container img {
  width: 27vw;
  height: 17vw;
  object-fit: cover;
  margin: auto;
  margin-top: 0;
}

.cardG_description_container p {
  width: 90%;
  font-size: 1.3vw;
  overflow-wrap: break-word;
  margin: auto;
}

.cardG_btn_container {
  width: 100%;
  display: flex;
  margin-left: 15px;
}

.cardG_btn_container * {
  text-decoration: none;
  color: #4a9eaae6;
  font-size: 20px;
}

.cardG_btn_container *:hover {
  color: #4a9eaab2;
}
