.cards_container {
  width: 100%;
  /* margin: 1vw;
  margin-top: 0;
  margin-bottom: 0; */
  /* 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 24rem));
    gap: 1vw; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  z-index: 10;
  background-color: #fff;
  /* background-color: #e4eaea; */
  padding-top: 2%;
  padding-bottom: 1%;
}
