.container{
	margin-top: 12vw;
	display: flex;
	flex-direction: column;
}

.sortPrice{
	display: inline-flex;
}

.view{
	display: inline-flex;
	justify-content: flex-end;
	justify-content: space-between;
	margin: auto;
	width: 90%;
}

.cards{
	margin-bottom: 8vw;
}

.eachcard > * {
	text-decoration: none;
}



@media (max-width: 1000px) {

  .view{
		margin-top: 3vw;
	}
}

@media (max-width: 825px) {
   .view{
		margin-top: 6vw;
	}
}

@media (max-width: 575px) {
   .view{
		margin-top: 12vw;
	}
}